<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Educate - Education HTML Templates</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" >

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="stylesheets/colors/color1.css" id="colors">
	
	<!-- Animation Style -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/animate.css"> -->

    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="http://themesflat.com/html/educate/icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="icon/favicon.png" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
</head> 
<body class="header-sticky">
    <div class="boxed">
        <div class="windows8">
            <div class="preload-inner">
                <div class="wBall" id="wBall_1">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_2">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_3">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_4">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_5">
                    <div class="wInnerBall"></div>
                </div>
            </div>
        </div>
        <div class="header-inner-pages">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-information">
                                <p>Welcome to Educate wordpress theme</p>
                            </div>
                            <div class="right-bar">
                                <ul class="flat-information">
                                    <li class="phone">
                                        <a href="http://themesflat.com/html/educate/+61383766284" title="Phone number">0084 - 9622 26602</a>
                                    </li>
                                    <li class="email">
                                        <a href="mailto:AlitStudios@gmail.com" title="Email address"> info@educate.com</a>
                                    </li>
                                </ul>
                                <ul class="flat-socials">
                                    <li class="facebook">
                                        <a href="about-us.html#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="about-us.html#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="about-us.html#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="youtube">
                                        <a href="about-us.html#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </div><!-- /.header-inner-pages -->

        <!-- Header --> 
        <header id="header" class="header clearfix"> 
            <div class="container">
                <div class="header-wrap clearfix">
                    <div id="logo" class="logo">
                        <a href="index.html" rel="home">
                            <img src="images/logo.png" alt="image">
                        </a>
                    </div><!-- /.logo -->            
                    <div class="nav-wrap">
                        <div class="btn-menu">
                            <span></span>
                        </div><!-- //mobile menu button -->
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu"> 
                                <li class="home">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="has-sub"><a href="courses-grid.html">Courses</a>
                                    <ul class="submenu"> 
                                        <li><a href="courses-grid.html">Courses grid</a></li>
                                        <li><a href="courses-grid-sidebar.html">Courses grid sidebar</a></li> 
                                        <li><a href="courses-list-sidebar.html">Courses list sidebar</a></li>   
                                        <li><a href="courses-single.html">Courses single</a></li>   
                                    </ul><!-- /.submenu -->
                                </li> 

                                <li><a href="about-us.html">About</a>
                                </li>

                                <li><a href="team.html">Team</a>              
                                </li>

                                <li><a href="blog.html">Blog</a>
                                    <ul class="submenu"> 
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-single.html">Blog single</a></li> 
                                    </ul><!-- /.submenu -->
                                </li>

                                <li><a href="contact.html">Contact</a>
                                </li>
                            </ul><!-- /.menu -->
                        </nav><!-- /.mainnav -->    
                    </div><!-- /.nav-wrap -->
                    <div id="s" class="show-search">
                        <a href="about-us.html#"><i class="fa fa-search"></i></a>         
                    </div><!-- /.show-search -->

                    <div class="submenu top-search">
                        <div class="widget widget_search">
                            <form class="search-form">
                                <input type="search" class="search-field" placeholder="Search …">
                                <input type="submit" class="search-submit">
                            </form>
                        </div>
                    </div>
                </div><!-- /.header-inner --> 
            </div>
        </header><!-- /.header -->

        <div class="page-title parallax parallax4"> 
        	<div class="overlay"></div>            
            <div class="container">
                <div class="row">
                    <div class="col-md-12">                    
                        <div class="page-title-heading">
                            <h2 class="title">ABOUT US</h2>
                        </div><!-- /.page-title-heading -->
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="about-us.html#">Home</a></li>
                                <li>About us</li>
                            </ul>                   
                        </div><!-- /.breadcrumbs --> 
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- /page-title parallax -->
    	
        <!-- About -->
            <section class="flat-row pad-top-100 flat-about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="flat-tabs about-us" data-effect ="fadeIn">
                                <ul class="menu-tab">
                                    <li class="active"><a href="about-us.html#">1999</a></li>
                                    <li><a href="about-us.html#">2001</a></li>
                                    <li><a href="about-us.html#">2005</a></li>
                                    <li><a href="about-us.html#">2012</a></li>
                                    <li><a href="about-us.html#">Now</a></li>
                                </ul><!-- /.menu-tab -->
                                <div class="content-tab clearfix">
                                    <div class="content-inner">
                                        <div class="text-tab">
                                            <div class="flat-title">
                                                <h1>Welcome to Educate!<span></span></h1>
                                            </div><!-- /.flat-title -->
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem corporis suscipit laboriosam nisi ut aliquid ex ea commodi consequatur?</p>
                                            <ul class="flat-list">     
                                                <li>2 Glossaries for difficult terms & acronyms</li> 
                                                <li>25 hours of High Quality e-Learning content</li>
                                                <li>72 end of chapter quizzes </li>
                                                <li>30 PDUs Offered </li>
                                                <li>Collection of 47 six sigma tools for hands-on practice</li>                                       
                                            </ul>  
                                        </div><!-- /.text-tab --> 
                                        <div class="images-tab">
                                            <img src="images/services/1.jpg" alt="images">
                                        </div>
                                    </div><!-- /.content-inner -->
                                    <div class="content-inner">
                                        <div class="text-tab">
                                            <div class="flat-title">
                                                <h1>2001<span></span></h1>
                                                <div class="decs">
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                                </div><!-- /.decs -->
                                            </div><!-- /.flat-title -->
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <ul class="flat-list">     
                                                <li>2 Glossaries for difficult terms &amp; acronyms</li> 
                                                <li>25 hours of High Quality e-Learning content</li>
                                                <li>72 end of chapter quizzes </li>
                                                <li>30 PDUs Offered </li>
                                                <li>Collection of 47 six sigma tools for hands-on practice</li>                                       
                                            </ul>  
                                        </div><!-- /.text-tab --> 
                                        <div class="images-tab">
                                            <img src="images/services/1.jpg" alt="images">
                                        </div>
                                    </div><!-- /.content-inner -->
                                    <div class="content-inner">
                                        <div class="text-tab">
                                            <div class="flat-title">
                                                <h1>2005<span></span></h1>
                                                <div class="decs">
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                                </div><!-- /.decs -->
                                            </div><!-- /.flat-title -->
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <ul class="flat-list">     
                                                <li>2 Glossaries for difficult terms &amp; acronyms</li> 
                                                <li>25 hours of High Quality e-Learning content</li>
                                                <li>72 end of chapter quizzes </li>
                                                <li>30 PDUs Offered </li>
                                                <li>Collection of 47 six sigma tools for hands-on practice</li>                                       
                                            </ul>  
                                        </div><!-- /.text-tab --> 
                                        <div class="images-tab">
                                            <img src="images/services/1.jpg" alt="images">
                                        </div>
                                    </div><!-- /.content-inner -->
                                    <div class="content-inner">
                                        <div class="text-tab">
                                            <div class="flat-title">
                                                <h1>2012<span></span></h1>
                                                <div class="decs">
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                                </div><!-- /.decs -->
                                            </div><!-- /.flat-title -->
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <ul class="flat-list">     
                                                <li>2 Glossaries for difficult terms &amp; acronyms</li> 
                                                <li>25 hours of High Quality e-Learning content</li>
                                                <li>72 end of chapter quizzes </li>
                                                <li>30 PDUs Offered </li>
                                                <li>Collection of 47 six sigma tools for hands-on practice</li>                                       
                                            </ul>  
                                        </div><!-- /.text-tab --> 
                                        <div class="images-tab">
                                            <img src="images/services/1.jpg" alt="images">
                                        </div>
                                    </div><!-- /.content-inner -->
                                    <div class="content-inner">
                                        <div class="text-tab">
                                            <div class="flat-title">
                                                <h1>Now<span></span></h1>
                                                <div class="decs">
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                                </div><!-- /.decs -->
                                            </div><!-- /.flat-title -->
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <ul class="flat-list">     
                                                <li>2 Glossaries for difficult terms &amp; acronyms</li> 
                                                <li>25 hours of High Quality e-Learning content</li>
                                                <li>72 end of chapter quizzes </li>
                                                <li>30 PDUs Offered </li>
                                                <li>Collection of 47 six sigma tools for hands-on practice</li>                                       
                                            </ul>  
                                        </div><!-- /.text-tab --> 
                                        <div class="images-tab">
                                            <img src="images/services/1.jpg" alt="images">
                                        </div>
                                    </div><!-- /.content-inner -->
                                    
                                </div><!-- /.content-tab -->
                            </div><!-- /.flat-tabs --> 
                        </div><!-- /col-md-12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->   
            </section>

            <section class="flat-row about-us parallax parallax1">
                <div class="overlay bg-222">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="flat-counter">                            
                                    <div class="counter-content">
                                        <div class="numb-count" data-to="23" data-speed="2000" data-waypoint-active="yes">23</div>
                                        <div class="name-count">Year Of Experience</div>
                                        <div class="desc-count">Lorem ipsum dolor sit amet consecte tur adipiscing elit, sed do eiusmod tempor incididunt labore</div>
                                    </div>
                                </div><!-- /.flat-counter -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="flat-counter">                            
                                    <div class="counter-content">
                                        <div class="numb-counter">
                                            <div class="numb-count" data-to="59" data-speed="1000" data-waypoint-active="yes">0</div>
                                        </div>
                                        <div class="name-count">Numbers Doctor</div>
                                        <div class="desc-count">Lorem ipsum dolor sit amet consecte tur adipiscing elit, sed do eiusmod tempor incididunt labore</div>
                                    </div>
                                </div><!-- /.flat-counter -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="flat-counter">                            
                                    <div class="counter-content">
                                        <div class="numb-count" data-to="15" data-speed="2000" data-waypoint-active="yes">15</div>
                                        <div class="name-count">Professional Awards</div>
                                        <div class="desc-count">Lorem ipsum dolor sit amet consecte tur adipiscing elit, sed do eiusmod tempor incididunt labore</div>
                                    </div>
                                </div><!-- /.flat-counter -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="flat-counter">
                                    <div class="counter-content">
                                        <div class="numb-count percent" data-to="100" data-speed="2000" data-waypoint-active="yes">100</div>
                                        <div class="name-count">Satisfied Clients</div>
                                        <div class="desc-count">Lorem ipsum dolor sit amet consecte tur adipiscing elit, sed do eiusmod tempor incididunt labore</div>
                                    </div>
                                </div><!-- /.flat-counter -->
                            </div>
                        </div><!-- / .row -->
                    </div><!-- /.container --> 
                </div><!-- /.overlay -->  
            </section>

            <section class="flat-row pad-bottom-100">
                <div class="container">
                    <div class="flat-title-section">
                        <h1 class="title">OUR TEACHER</h1>                
                    </div>

                    <div class="flat-teacher-team button-right">
                        <div class="flat-teacher flat-hover-zoom">
                            <div class="entry-image">
                                <img src="images/teacher/Team-05.jpg"/>
                            </div>
                            <div class="content">                               
                                <h4 class="name">Leonardo Bonucci</h4>
                                <ul class="flat-socials">
                                    <li class="facebook">
                                        <a href="about-us.html#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="about-us.html#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="about-us.html#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li class="youtube">
                                        <a href="about-us.html#"><i class="fa fa-youtube-play"></i></a>
                                    </li>
                                </ul>
                                <ul class="flat-information">
                                    <li class="position">
                                        <a href="about-us.html#" title="position">Graphic Designer</a>
                                    </li>
                                    <li class="phone">
                                        <a href="http://themesflat.com/html/educate/+61383766284" title="Phone number"> 0084 962 226 602</a>
                                    </li>
                                    <li class="email">
                                        <a href="mailto:AlitStudios@gmail.com" title="Email address">contact@educate.com</a>
                                    </li>
                                    <li class="skype">
                                        <a href="skype:skype.educate?call" title="skype">skype.educate</a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div class="flat-teacher flat-hover-zoom">
                            <div class="entry-image">
                                <img src="images/teacher/Team-06.jpg"/>
                            </div>
                            <div class="content">                               
                                <h4 class="name">Sarah Johnson</h4>
                                <ul class="flat-socials">
                                    <li class="facebook">
                                        <a href="about-us.html#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="about-us.html#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="about-us.html#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li class="youtube">
                                        <a href="about-us.html#"><i class="fa fa-youtube-play"></i></a>
                                    </li>
                                </ul>
                                <ul class="flat-information">
                                    <li class="position">
                                        <a href="about-us.html#" title="position">Graphic Designer</a>
                                    </li>
                                    <li class="phone">
                                        <a href="http://themesflat.com/html/educate/+61383766284" title="Phone number"> 0084 962 226 602</a>
                                    </li>
                                    <li class="email">
                                        <a href="mailto:AlitStudios@gmail.com" title="Email address">contact@educate.com</a>
                                    </li>
                                    <li class="skype">
                                        <a href="skype:skype.educate?call" title="skype">skype.educate</a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div class="flat-teacher flat-hover-zoom">
                            <div class="entry-image">
                                <img src="images/teacher/Team-07.jpg"/>
                            </div>
                            <div class="content">                               
                                <h4 class="name">Rebeca Adams</h4>
                                <ul class="flat-socials">
                                    <li class="facebook">
                                        <a href="about-us.html#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="about-us.html#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="about-us.html#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li class="youtube">
                                        <a href="about-us.html#"><i class="fa fa-youtube-play"></i></a>
                                    </li>
                                </ul>
                                <ul class="flat-information">
                                    <li class="position">
                                        <a href="about-us.html#" title="position">Graphic Designer</a>
                                    </li>
                                    <li class="phone">
                                        <a href="http://themesflat.com/html/educate/+61383766284" title="Phone number"> 0084 962 226 602</a>
                                    </li>
                                    <li class="email">
                                        <a href="mailto:AlitStudios@gmail.com" title="Email address">contact@educate.com</a>
                                    </li>
                                    <li class="skype">
                                        <a href="skype:skype.educate?call" title="skype">skype.educate</a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div class="flat-teacher flat-hover-zoom">
                            <div class="entry-image">
                                <img src="images/teacher/Team-08.jpg"/>
                            </div>
                            <div class="content">                               
                                <h4 class="name">Rebeca Adams</h4>
                                <ul class="flat-socials">
                                    <li class="facebook">
                                        <a href="about-us.html#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="about-us.html#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="about-us.html#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li class="youtube">
                                        <a href="about-us.html#"><i class="fa fa-youtube-play"></i></a>
                                    </li>
                                </ul>
                                <ul class="flat-information">
                                    <li class="position">
                                        <a href="about-us.html#" title="position">Graphic Designer</a>
                                    </li>
                                    <li class="phone">
                                        <a href="http://themesflat.com/html/educate/+61383766284" title="Phone number"> 0084 962 226 602</a>
                                    </li>
                                    <li class="email">
                                        <a href="mailto:AlitStudios@gmail.com" title="Email address">contact@educate.com</a>
                                    </li>
                                    <li class="skype">
                                        <a href="skype:skype.educate?call" title="skype">skype.educate</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div><!-- /.flat-teacher-team -->
                </div>
            </section>

            <section class="flat-row testimonial">
                <div class="container">
                    <div class="testimonial-slider">
                        <div class="testimonial">
                            <div class="testimonial-content">
                                <blockquote>
                                    You don't need a whole ecommerce system to sell your online courses. Paypal, Stripe payment methods integration can help you sell your courses out of the box. In the case you wanna use        WooCommerce, this awesome WordPress LMS Plugin. 
                                </blockquote>
                            </div>
                            <div class="testimonial-meta">
                                <div class="testimonial-author">
                                    <strong class="author-name">Donald Simpson</strong>
                                    <div class="author-info">Founder & CEO, Arcade Systems</div>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial">
                            <div class="testimonial-content">
                                <blockquote>
                                    You don't need a whole ecommerce system to sell your online courses. Paypal, Stripe payment methods integration can help you sell your courses out of the box. In the case you wanna use        WooCommerce, this awesome WordPress LMS Plugin. 
                                </blockquote>
                            </div>
                            <div class="testimonial-meta">
                                <div class="testimonial-author">
                                    <strong class="author-name">Donald Simpson</strong>
                                    <div class="author-info">Founder & CEO, Arcade Systems</div>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial">
                            <div class="testimonial-content">
                                <blockquote>
                                    You don't need a whole ecommerce system to sell your online courses. Paypal, Stripe payment methods integration can help you sell your courses out of the box. In the case you wanna use        WooCommerce, this awesome WordPress LMS Plugin. 
                                </blockquote>
                            </div>
                            <div class="testimonial-meta">
                                <div class="testimonial-author">
                                    <strong class="author-name">Donald Simpson</strong>
                                    <div class="author-info">Founder & CEO, Arcade Systems</div>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </section>

            <section class="flat-row pad-bottom-30">
                <div class="container">
                    <div class="flat-title-section">
                        <h1 class="title">FAQ & CERTIFICATIONS</h1>                
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                        <div class="flat-accordion">
                            <div class="flat-toggle">
                                <h6 class="toggle-title">Why Our Clinic?</h6>
                                <div class="toggle-content">
                                    <img class="faq-img" src="images/about/faq.jpg"/>
                                    <div>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</div>                               
                                </div>
                            </div><!-- /toggle -->

                            <div class="flat-toggle">
                                <h6 class="toggle-title active">Qualified Experts</h6>
                                <div class="toggle-content" >
                                    <img class="faq-img" src="images/about/faq.jpg"/>
                                    <div><p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <p>
                                        Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                                    </div>                               
                                </div>
                            </div><!-- /toggle -->

                            <div class="flat-toggle">
                                <h6 class="toggle-title">Quick Access to The Patient</h6>
                                <div class="toggle-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>                               
                                </div>
                            </div><!-- /toggle -->

                            <div class="flat-toggle">
                                <h6 class="toggle-title">How can an architect save you money on your home design?</h6>
                                <div class="toggle-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>                               
                                </div>
                            </div><!-- /toggle -->
                        </div><!-- /.flat-accordion -->
                        </div><!-- / .col-md-6 -->

                        <div class="col-md-6">
                            <div class="flat-certificates">
                                <div class="flat-certified">
                                    <img src="images/services/Certifications.jpg"/>
                                    <h4>Google Certified</h4>
                                </div>
                                <div class="flat-certified">
                                    <img src="images/services/Certifications.jpg"/>
                                    <h4>Microsoft Certified</h4>
                                </div>
                                <div class="flat-certified">
                                    <img src="images/services/Certifications.jpg"/>
                                    <h4>Amazon Certified</h4>
                                </div>
                                <div class="flat-certified">
                                    <img src="images/services/Certifications.jpg"/>
                                    <h4>Google Certified</h4>
                                </div>
                                <div class="flat-certified">
                                    <img src="images/services/Certifications.jpg"/>
                                    <h4>Microsoft Certified</h4>
                                </div>
                                <div class="flat-certified">
                                    <img src="images/services/Certifications.jpg"/>
                                    <h4>Amazon Certified</h4>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.row -->
            </section>


        <!-- Footer -->
        <footer class="footer">  
            <div class="footer-widgets">   
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">  
                            <div class="widget widget-text">
                                <img src="images/blog/Footer-01.jpg" alt="image">
                                <ul>
                                    <li class="address">68 Tran Hung Dao, Binh Luc, H.Nam</li>
                                    <li class="phone"><a href="about-us.html#">+84 962 216 601</a></li>
                                    <li class="email"><a href="about-us.html#">contact@company.mail.com</a></li>  
                                </ul> 
                            </div><!-- /.widget -->      
                        </div>

                        <div class="col-md-3">
                            <div class="widget widget_tweets clearfix">
                                <h5 class="widget-title">User Links</h5>
                                <ul class="link-left">
                                    <li>
                                        <a href="about-us.html#">About Us</a>
                                    </li>
                                    <li>
                                        <a href="about-us.html#">Blog</a>
                                    </li>
                                    <li>
                                        <a href="about-us.html#">Contact</a>
                                    </li>
                                    <li>
                                        <a href="about-us.html#">Courses</a>
                                    </li>
                                    <li>
                                        <a href="about-us.html#">FAQs</a>
                                    </li>
                                      <li>
                                        <a href="about-us.html#">Events</a>
                                    </li>
                                </ul>
                                <ul class="link-right">
                                    <li>
                                        <a href="about-us.html#">Become a Teacher</a>
                                    </li>
                                    <li>
                                        <a href="about-us.html#">Maintenance</a>
                                    </li>
                                    <li>
                                        <a href="about-us.html#">Language Packs</a>
                                    </li>
                                    <li>
                                        <a href="about-us.html#">LearnPress</a>
                                    </li>
                                    <li>
                                        <a href="about-us.html#">Release Status</a>
                                    </li>
                                </ul>
                            </div><!-- /.widget-recent-tweets -->
                        </div><!-- /.col-md-2 -->

                        <div class="col-md-3">
                            <div class="widget widget_recent-courses">
                                <h5 class="widget-title">Recent Courses</h5>
                                <ul class="recent-courses-news clearfix">
                                    <li>
                                        <div class="thumb">
                                            <img src="images/blog/Footer-02.png" alt="image">
                                        </div>
                                        <div class="text">
                                            <a href="about-us.html#">UI-UX Designer Courses</a>
                                        </div>
                                        <div class="review-rating">
                                            <ul class="flat-reviews">
                                                <li class="star">
                                                    <a href="about-us.html#"><i class="fa fa-star"></i></a>
                                                </li>
                                                <li class="star">
                                                    <a href="about-us.html#"><i class="fa fa-star"></i></a>
                                                </li>
                                                <li class="star">
                                                    <a href="about-us.html#"><i class="fa fa-star"></i></a>
                                                </li>
                                                <li class="star">
                                                    <a href="about-us.html#"><i class="fa fa-star-half-o"></i></a>
                                                </li>
                                                 <li class="star">
                                                    <a href="about-us.html#"><i class="fa fa-star-o"></i></a>
                                                </li>
                                            </ul>
                                            <p>25 Reviews</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <img src="images/blog/Footer-03.png" alt="image">
                                        </div>
                                        <div class="text">
                                            <a href="about-us.html#">PHP Shopify Courses</a>
                                        </div>
                                        <div class="review-rating">
                                            <ul class="flat-reviews">
                                                <li class="star">
                                                    <a href="about-us.html#"><i class="fa fa-star"></i></a>
                                                </li>
                                                <li class="star">
                                                    <a href="about-us.html#"><i class="fa fa-star"></i></a>
                                                </li>
                                                <li class="star">
                                                    <a href="about-us.html#"><i class="fa fa-star"></i></a>
                                                </li>
                                                <li class="star">
                                                    <a href="about-us.html#"><i class="fa fa-star-half-o"></i></a>
                                                </li>
                                                 <li class="star">
                                                    <a href="about-us.html#"><i class="fa fa-star-o"></i></a>
                                                </li>
                                            </ul>
                                            <p>25 Reviews</p>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- /.widget-quick-contact -->
                        </div><!-- /.col-md-4-->

                        <div class="col-md-3">
                            <div class="widget widget-quick-contact">
                                <h5 class="widget-title">Quick Contact</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="flat-contact-form" id="contactform2" method="post" action="http://themesflat.com/html/educate/contact/contact-process.php">

                                            <input type="email" value="" tabindex="2" placeholder="Your Email" name="email" id="email-contact" required="">
                                           
                                            <textarea class="type-input" tabindex="3" placeholder="Message" name="message" id="message-contact" required=""></textarea> 

                                            <button class="flat-button bg-orange"><i class="fa fa-long-arrow-right"></i></button>
                                           
                                        </form><!-- /.comment-form -->     
                                    </div><!-- /.col-md-12 -->
                                </div>
                            </div><!-- /.widget .widget-instagram -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-widgets -->
        </footer>

        <a class="go-top">
            <i class="fa fa-chevron-up"></i>
        </a>

        <!-- Bottom -->
        <div class="bottom">
            <div class="container">
                <ul class="flat-socials-v1">
                    <li class="facebook">
                        <a href="about-us.html#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="twitter">
                        <a href="about-us.html#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="vimeo">
                        <a href="about-us.html#"><i class="fa fa-vimeo"></i></a>
                    </li>
                    <li class="rss">
                        <a href="about-us.html#"><i class="fa fa-rss"></i></a>
                    </li>
                </ul>    
                <div class="row">
                    <div class="container-bottom">
                        <div class="copyright"> 
                            <p>Copyright © 2016. Designer by <span><a href="about-us.html#">NthPsd</a></span>. All Rights Reserved.</p>
                        </div>
                    </div><!-- /.container-bottom -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>
    </div><!-- /. boxed -->

   <!-- Javascript -->
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.easing.js"></script> 
    <script type="text/javascript" src="javascript/owl.carousel.js"></script> 
    <script type="text/javascript" src="javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="javascript/jquery-countTo.js"></script>    
    <script type="text/javascript" src="javascript/parallax.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="javascript/switcher.js"></script>
    <script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>