<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Educate - Education HTML Templates</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" >

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="stylesheets/colors/color1.css" id="colors">
	
	<!-- Animation Style -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/animate.css"> -->

    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="http://themesflat.com/html/educate/icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="icon/favicon.png" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
</head> 
<body class="header-sticky">
    <div class="windows8">
        <div class="preload-inner">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall"></div>
            </div>
        </div>
    </div>
    <div class="header-inner-pages">
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-information">
                            <p>Welcome to Educate wordpress theme</p>
                        </div>
                        <div class="right-bar">
                            <ul class="flat-information">
                                <li class="phone">
                                    <a href="http://themesflat.com/html/educate/+61383766284" title="Phone number">0084 - 9622 26602</a>
                                </li>
                                <li class="email">
                                    <a href="mailto:AlitStudios@gmail.com" title="Email address"> info@educate.com</a>
                                </li>
                            </ul>
                            <ul class="flat-socials">
                                <li class="facebook">
                                    <a href="contact.html#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="contact.html#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="contact.html#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="contact.html#">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div><!-- /.header-inner-pages -->

    <!-- Header --> 
    <header id="header" class="header clearfix"> 
        <div class="container">
            <div class="header-wrap clearfix">
                <div id="logo" class="logo">
                    <a href="index.html" rel="home">
                        <img src="images/logo.png" alt="image">
                    </a>
                </div><!-- /.logo -->            
                <div class="nav-wrap">
                    <div class="btn-menu">
                        <span></span>
                    </div><!-- //mobile menu button -->
                    <nav id="mainnav" class="mainnav">
                        <ul class="menu"> 
                            <li class="home">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="has-sub"><a href="courses-grid.html">Courses</a>
                                <ul class="submenu"> 
                                    <li><a href="courses-grid.html">Courses grid</a></li>
                                    <li><a href="courses-grid-sidebar.html">Courses grid sidebar</a></li> 
                                    <li><a href="courses-list-sidebar.html">Courses list sidebar</a></li>   
                                    <li><a href="courses-single.html">Courses single</a></li>   
                                </ul><!-- /.submenu -->
                            </li> 

                            <li><a href="about-us.html">About</a>
                            </li>

                            <li><a href="team.html">Team</a>              
                            </li>

                            <li><a href="blog.html">Blog</a>
                                <ul class="submenu"> 
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-single.html">Blog single</a></li> 
                                </ul><!-- /.submenu -->
                            </li>

                            <li><a href="contact.html">Contact</a>
                            </li>
                        </ul><!-- /.menu -->
                    </nav><!-- /.mainnav -->    
                </div><!-- /.nav-wrap -->
                <div id="s" class="show-search">
                    <a href="contact.html#"><i class="fa fa-search"></i></a>         
                </div><!-- /.show-search -->

                <div class="submenu top-search">
                    <div class="widget widget_search">
                        <form class="search-form">
                            <input type="search" class="search-field" placeholder="Search …">
                            <input type="submit" class="search-submit">
                        </form>
                    </div>
                </div>
            </div><!-- /.header-inner --> 
        </div>
    </header><!-- /.header -->

    <div class="page-title parallax parallax4"> 
    	<div class="overlay"></div>            
        <div class="container">
            <div class="row">
                <div class="col-md-12">                    
                    <div class="page-title-heading">
                        <h2 class="title">CONTACT US</h2>
                    </div><!-- /.page-title-heading -->
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="contact.html#">Home</a></li>
                            <li>contact</li>
                        </ul>                   
                    </div><!-- /.breadcrumbs --> 
                </div><!-- /.col-md-12 -->  
            </div><!-- /.row -->  
        </div><!-- /.container -->                      
    </div><!-- /page-title parallax -->
	
      <section class="flat-row contact-page pad-top-134">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="contact-content">
                            <div class="contact-address">
                                <div class="style1">                                    
                                   <img src="images/icon/c1.png" alt="image">
                                </div> 
                                <div class="details">
                                    <h5>Our Location</h5>
                                    <p>350 Fifth Avenue, 34th floor New York</p>
                                    <p>NY 10118-3299 USA</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-content">
                            <div class="contact-address">
                                <div class="style1">
                                    <img src="images/icon/c2.png" alt="image">
                                </div>
                                <div class="details">
                                    <h5>Contact us Anytime</h5>
                                    <p>Mobile: (+1) 800 555 888 </p>
                                    <p>Fax: (+1) 800 666 999</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-content">
                            <div class="contact-address">
                                <div class="style1">
                                    <img src="images/icon/c3.png" alt="image">
                                </div>
                                <div class="details">
                                    <h5>Write Some Words</h5>
                                    <p>Support24/7@domain.com </p>
                                    <p>Info@domain.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->

                <div class="row">
                    <div class="flat-spacer d74px"></div>
                </div>

                <div id="respond" class="comment-respond contact style2">
                    <h1 class="title comment-title">Leave a Message</h1>
                    <form id="contactform" class="flat-contact-form style2 bg-dark height-small" method="post" action="http://themesflat.com/html/educate/contact/contact-process.php">
                        <div class="field clearfix">      
                            <div class="wrap-type-input">                    
                                <div class="input-wrap name">
                                    <input type="text" value="" tabindex="1" placeholder="Name" name="name" id="name" required>
                                </div>
                                <div class="input-wrap email">
                                    <input type="email" value="" tabindex="2" placeholder="Email" name="email" id="email" required>
                                </div>
                                <div class="input-wrap last Subject">
                                    <input type="text" value="" placeholder="Subject (Optinal)" name="subject" id="subject" >
                                </div>  
                            </div>
                            <div class="textarea-wrap">
                                <textarea class="type-input" tabindex="3" placeholder="Message" name="message" id="message-contact" required></textarea>
                            </div>
                        </div>
                        <div class="submit-wrap">
                            <button class="flat-button bg-orange">Send Your Message</button>
                        </div>
                    </form><!-- /.comment-form -->                     
                </div><!-- /#respond -->
            </div><!-- /.container -->   
        </section>

        <!-- Map -->
        <section class="row-map">
            <div class="container-fluid">
                <div class="row">
                    <div id="map" style="width: 100%; height: 559px; "></div> 
                </div>
            </div><!-- /.container -->
        </section>

    <!-- Footer -->
    <footer class="footer">  
        <div class="footer-widgets">   
            <div class="container">
                <div class="row">
                    <div class="col-md-3">  
                        <div class="widget widget-text">
                            <img src="images/blog/Footer-01.jpg" alt="image">
                            <ul>
                                <li class="address">68 Tran Hung Dao, Binh Luc, H.Nam</li>
                                <li class="phone"><a href="contact.html#">+84 962 216 601</a></li>
                                <li class="email"><a href="contact.html#">contact@company.mail.com</a></li>  
                            </ul> 
                        </div><!-- /.widget -->      
                    </div>

                    <div class="col-md-3">
                        <div class="widget widget_tweets clearfix">
                            <h5 class="widget-title">User Links</h5>
                            <ul class="link-left">
                                <li>
                                    <a href="contact.html#">About Us</a>
                                </li>
                                <li>
                                    <a href="contact.html#">Blog</a>
                                </li>
                                <li>
                                    <a href="contact.html#">Contact</a>
                                </li>
                                <li>
                                    <a href="contact.html#">Courses</a>
                                </li>
                                <li>
                                    <a href="contact.html#">FAQs</a>
                                </li>
                                  <li>
                                    <a href="contact.html#">Events</a>
                                </li>
                            </ul>
                            <ul class="link-right">
                                <li>
                                    <a href="contact.html#">Become a Teacher</a>
                                </li>
                                <li>
                                    <a href="contact.html#">Maintenance</a>
                                </li>
                                <li>
                                    <a href="contact.html#">Language Packs</a>
                                </li>
                                <li>
                                    <a href="contact.html#">LearnPress</a>
                                </li>
                                <li>
                                    <a href="contact.html#">Release Status</a>
                                </li>
                            </ul>
                        </div><!-- /.widget-recent-tweets -->
                    </div><!-- /.col-md-2 -->

                    <div class="col-md-3">
                        <div class="widget widget_recent-courses">
                            <h5 class="widget-title">Recent Courses</h5>
                            <ul class="recent-courses-news clearfix">
                                <li>
                                    <div class="thumb">
                                        <img src="images/blog/Footer-02.png" alt="image">
                                    </div>
                                    <div class="text">
                                        <a href="contact.html#">UI-UX Designer Courses</a>
                                    </div>
                                    <div class="review-rating">
                                        <ul class="flat-reviews">
                                            <li class="star">
                                                <a href="contact.html#"><i class="fa fa-star"></i></a>
                                            </li>
                                            <li class="star">
                                                <a href="contact.html#"><i class="fa fa-star"></i></a>
                                            </li>
                                            <li class="star">
                                                <a href="contact.html#"><i class="fa fa-star"></i></a>
                                            </li>
                                            <li class="star">
                                                <a href="contact.html#"><i class="fa fa-star-half-o"></i></a>
                                            </li>
                                             <li class="star">
                                                <a href="contact.html#"><i class="fa fa-star-o"></i></a>
                                            </li>
                                        </ul>
                                        <p>25 Reviews</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <img src="images/blog/Footer-03.png" alt="image">
                                    </div>
                                    <div class="text">
                                        <a href="contact.html#">PHP Shopify Courses</a>
                                    </div>
                                    <div class="review-rating">
                                        <ul class="flat-reviews">
                                            <li class="star">
                                                <a href="contact.html#"><i class="fa fa-star"></i></a>
                                            </li>
                                            <li class="star">
                                                <a href="contact.html#"><i class="fa fa-star"></i></a>
                                            </li>
                                            <li class="star">
                                                <a href="contact.html#"><i class="fa fa-star"></i></a>
                                            </li>
                                            <li class="star">
                                                <a href="contact.html#"><i class="fa fa-star-half-o"></i></a>
                                            </li>
                                             <li class="star">
                                                <a href="contact.html#"><i class="fa fa-star-o"></i></a>
                                            </li>
                                        </ul>
                                        <p>25 Reviews</p>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.widget-quick-contact -->
                    </div><!-- /.col-md-4-->

                    <div class="col-md-3">
                        <div class="widget widget-quick-contact">
                            <h5 class="widget-title">Quick Contact</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="flat-contact-form" id="contactform2" method="post" action="http://themesflat.com/html/educate/contact/contact-process.php">

                                        <input type="email" value="" tabindex="2" placeholder="Your Email" name="email" id="email-contact" required="">
                                       
                                        <textarea class="type-input" tabindex="3" placeholder="Message" name="message" id="message-contact" required=""></textarea> 

                                        <button class="flat-button bg-orange"><i class="fa fa-long-arrow-right"></i></button>
                                       
                                    </form><!-- /.comment-form -->     
                                </div><!-- /.col-md-12 -->
                            </div>
                        </div><!-- /.widget .widget-instagram -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.footer-widgets -->
    </footer>

    <a class="go-top">
        <i class="fa fa-chevron-up"></i>
    </a>

    <!-- Bottom -->
    <div class="bottom">
        <div class="container">
            <ul class="flat-socials-v1">
                <li class="facebook">
                    <a href="contact.html#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="twitter">
                    <a href="contact.html#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="vimeo">
                    <a href="contact.html#"><i class="fa fa-vimeo"></i></a>
                </li>
                <li class="rss">
                    <a href="contact.html#"><i class="fa fa-rss"></i></a>
                </li>
            </ul>    
            <div class="row">
                <div class="container-bottom">
                    <div class="copyright"> 
                        <p>Copyright © 2016. Designer by <span><a href="contact.html#">NthPsd</a></span>. All Rights Reserved.</p>
                    </div>
                </div><!-- /.container-bottom -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>

        <!-- Javascript -->
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.easing.js"></script> 
    <script type="text/javascript" src="javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="javascript/parallax.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="javascript/gmap3.min.js"></script> 
    <script type="text/javascript" src="javascript/jquery-validate.js"></script> 
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="javascript/switcher.js"></script>
    <script type="text/javascript" src="javascript/main.js"></script>

</body>
</html>