<footer class="footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget widget-text">
                        <img
                            src="http://e-learning.test:8000/images/blog/Footer-01.jpg"
                            alt="E-learning"
                        />
                        <ul>
                            <li class="address">
                                68 Tran Hana Dao, Data Center, KBM
                            </li>
                            <li class="phone"><a>+212 641 966 888</a></li>
                            <li class="email">
                                <a href="contact@e-learning.com"
                                    >contact@e-learning.com</a
                                >
                            </li>
                        </ul>
                    </div>
                    <!-- /.widget -->
                </div>

                <div class="col-md-3">
                    <div class="widget widget_tweets clearfix">
                        <h5 class="widget-title">Quick Links</h5>
                        <ul class="link-left">
                            <li>
                                <a href="http://e-learning.test:8000">Home</a>
                            </li>
                            <li>
                                <a href="http://e-learning.test:8000/about-us"
                                    >About Us</a
                                >
                            </li>
                            <li>
                                <a href="http://e-learning.test:8000/blog"
                                    >Blog</a
                                >
                            </li>
                            <li>
                                <a href="http://e-learning.test:8000/contact"
                                    >Contact</a
                                >
                            </li>
                            <li>
                                <a href="http://e-learning.test:8000/courses"
                                    >Courses</a
                                >
                            </li>
                        </ul>
                        <ul class="link-right">
                            <li>
                                <a href="http://e-learning.test:8000/teachers"
                                    >Teachers</a
                                >
                            </li>
                            <li>
                                <a href="http://e-learning.test:8000/faqs"
                                    >FAQs</a
                                >
                            </li>
                            <li>
                                <a href="http://e-learning.test:8000/events"
                                    >Events</a
                                >
                            </li>
                            <li>
                                <a href="http://e-learning.test:8000/teachers"
                                    >Become a Teacher</a
                                >
                            </li>
                        </ul>
                    </div>
                    <!-- /.widget-recent-tweets -->
                </div>
                <!-- /.col-md-2 -->

                <div class="col-md-3">
                    <div class="widget widget_recent-courses">
                        <h5 class="widget-title">Recent Courses</h5>
                        <ul class="recent-courses-news clearfix">
                            <li>
                                <div class="thumb">
                                    <img
                                        src="http://e-learning.test:8000/storage/courses\April2019\85vkPkBZxxao9cTWXmqP.jpg"
                                        alt="Photoshop - Web Deisgn"
                                        width="110px"
                                    />
                                </div>
                                <div class="text">
                                    <a
                                        href="http://e-learning.test:8000/courses/photoshop-web-deisgn"
                                        >Photoshop - Web Deisgn</a
                                    >
                                </div>
                                <div class="review-rating">
                                    <ul>
                                        <li class="star">
                                            <a><i class="fa fa-star-o"></i></a>
                                        </li>
                                        <li class="star">
                                            <a><i class="fa fa-star-o"></i></a>
                                        </li>
                                        <li class="star">
                                            <a><i class="fa fa-star-o"></i></a>
                                        </li>
                                        <li class="star">
                                            <a><i class="fa fa-star-o"></i></a>
                                        </li>
                                        <li class="star">
                                            <a><i class="fa fa-star-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="thumb">
                                    <img
                                        src="http://e-learning.test:8000/storage/courses\April2019\PS6Xd7e92YI0Paqb0Ixg.jpg"
                                        alt="Bulma Web Design, Graphic"
                                        width="110px"
                                    />
                                </div>
                                <div class="text">
                                    <a
                                        href="http://e-learning.test:8000/courses/bulma-web-design-graphic"
                                        >Bulma Web Design, Graphic</a
                                    >
                                </div>
                                <div class="review-rating">
                                    <ul>
                                        <li class="star">
                                            <a><i class="fa fa-star-o"></i></a>
                                        </li>
                                        <li class="star">
                                            <a><i class="fa fa-star-o"></i></a>
                                        </li>
                                        <li class="star">
                                            <a><i class="fa fa-star-o"></i></a>
                                        </li>
                                        <li class="star">
                                            <a><i class="fa fa-star-o"></i></a>
                                        </li>
                                        <li class="star">
                                            <a><i class="fa fa-star-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.widget-quick-contact -->
                </div>
                <!-- /.col-md-4-->

                <div class="col-md-3">
                    <div class="widget widget-quick-contact">
                        <h5 class="widget-title">Quick Contact</h5>
                        <div class="row">
                            <div id="footerFormContact" class="col-md-12">
                                <!---->
                                <form
                                    id="contactform"
                                    method="post"
                                    class="flat-contact-form"
                                    novalidate="novalidate"
                                >
                                    <input
                                        tabindex="2"
                                        type="email"
                                        id="email-contact"
                                        name="email"
                                        placeholder="Your Email Here"
                                        aria-required="true"
                                        aria-invalid="false"
                                    />
                                    <div
                                        class="invalid-feedback"
                                        style="display: none;"
                                    >
                                        <i
                                            class="fa fa-warning"
                                            style="display: none;"
                                        ></i>
                                    </div>
                                    <textarea
                                        tabindex="2"
                                        placeholder="Message"
                                        name="message"
                                        id="message-contact"
                                        class="type-input"
                                        aria-required="true"
                                        aria-invalid="false"
                                    ></textarea>
                                    <div class="submit-wrap">
                                        <button
                                            type="submit"
                                            class="flat-button bg-orange"
                                        >
                                            <i
                                                class="fa fa-long-arrow-right"
                                            ></i>
                                        </button>
                                    </div>
                                </form>
                                <div
                                    class="invalid-feedback"
                                    style="display: none;"
                                >
                                    <i
                                        class="fa fa-warning"
                                        style="display: none;"
                                    ></i>
                                </div>
                            </div>
                            <!-- /.col-md-12 -->
                        </div>
                    </div>
                    <!-- /.widget .widget-instagram -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-widgets -->
</footer>
